<form method="post" action="{{ path('app_product_delete', {'id': product.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer ce produit ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ product.id) }}">
    <button class="w-full bg-white text-red-600 border border-red-200 hover:bg-red-600 hover:text-white font-bold py-2 px-4 rounded-xl transition duration-200 text-sm">
        Supprimer 
    </button>
</form>
